<h2>All Restaurants</h2>
<% @restaurants.each do |restaurant| %>
<p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>
   <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
<% end %>
